.my_alert {
  background: rgb(241, 231, 231);
  padding: 20px;
  border-radius: 10px;
}

.my_alert p {
  margin-bottom: 0;
}

.title {
  padding: 20px;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wow-enter {
  opacity: 0;
}

.wow-enter-active {
  opacity: 1;
  color: red;
  transition: all 500ms;
}

.qna {
  display: flex;
  flex-direction: column;
}

.qna_table {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: rgb(165, 161, 161);
}

.qna_table thead {
  background-color: rgb(231, 216, 216);
}

.qna_button {
  align-self: flex-end;
  margin-bottom: 10px;
}

.answer {
  .h5 {
    font-weight: 600;
  }

  background-color: rgb(230, 219, 219);
}
